@use "sass:math";

@import "../../common/scss/variables";

.hero {
  height: 95vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo-container {
  width: 25vh;
  max-width: 160px;
  margin-bottom: 32px;
}

.logo {
  padding-top: math.div(1200px, 600px) * 100%;
  background: $currin-turquoise;
  position: relative;
  height: 0;
  z-index: 1;
}

.logo-emblem {
  position: absolute;
  width: math.div(120px, 600px) * 100%;
  height: math.div(120px, 1200px) * 100%;
  top: math.div(300px, 1200px) * 100%;
  left: 50%;
  margin-left: math.div(math.div(120px, 600px) * 100%, -2);
  border-radius: 100%;
  background-color: $currin-turquoise;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: math.div(math.div(100px, 120px) * 100%, -2);
    margin-left: math.div(math.div(360px, 120px) * 100%, -2);
    height: math.div(100px, 120px) * 100%;
    width: math.div(360px, 120px) * 100%;
    background-color: $currin-gold;
    border-radius: 50%;
    z-index: -1;
  }

  &:after {
    transform: rotateZ(90deg);
  }
}

.logotype {
  color: rgba(0, 0, 0, 0.40);

  h1 {
    margin-bottom: 6px;
  }

  p {
    font-weight: 600;
    font-size: 11px;
    margin: 0;
  }
}

.instagram-icon {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-top: 6px;
  transition: color 0.35s ease;

  &:hover {
    color: black;
  }

  svg {
    width: 100%;
  }
}

.card {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #f1f1ee;

  p {
    color: rgba(0, 0, 0, 0.65);
  }

  @media screen and (max-width: 720px) {
    padding: 20px;
    padding-top: 40px;
  }
}

.footer {
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.40);

  p {
    font-weight: 600;
    font-size: 11px;
    margin: 0;
  }
}
