@font-face {
  font-family: 'market-deco';
  src: url('../fonts/market-deco.woff2') format('woff2'),
       url('../fonts/market-deco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
